
<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-contacts">
      <a href="<%= settings && settings.contact_facebook_url ? settings.contact_facebook_url : '#' %>" target="_blank" class="footer-icon">
        <img src="/facebook.png" alt="Facebook">
      </a>

      <a href="<%= settings && settings.contact_instagram_url ? settings.contact_instagram_url : '#' %>" target="_blank" class="footer-icon">
        <img src="/instagram.png" alt="Instagram">
      </a>

      <a href="mailto:<%= settings && settings.contact_email ? settings.contact_email : 'info@email.com' %>" class="footer-icon">
        <img src="/email.png" alt="Email">
      </a>
    </div>
  </div>
</footer>
