
<!-- views/partials/header.ejs -->

<header class="main-header">
  <div class="header-left">
    <img src="/logo-pdt.png" alt="Logo Palio" class="logo-header" />

    <div class="header-title">
      <div class="title-main">
        IL PALIO DELLA TORRE
      </div>
      <div class="title-sub">
        Leverano
      </div>
    </div>
  </div>
</header>
