
/* public/styles.css */

.main-header {
  background: #003129;
  padding: 14px 0;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 18px; /* spostato più a sinistra visivamente */
}

.logo-header {
  height: 40px;
  margin-right: 10px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-main {
  font-size: 22px;
  font-weight: 900;
  color: #FCBD16;
  letter-spacing: 1px;
}

.title-sub {
  font-size: 15px;
  color: #d1d5db;
}
