
/* public/styles.css */

/* MENU hamburger - scritta verde sfondo giallo */

.menu-toggle {
  background: #FCBD16; /* giallo */
  color: #003129; /* verde */
  font-weight: 800;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.menu-toggle:hover {
  background: #e5aa14; /* giallo leggermente più scuro */
}
